#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(202, 210, 211, 0.7);
    margin: 20px;
    overflow: auto;
    border-radius: 3px;
}

#legend {
    padding: 10px;
    line-height: 18px;
    width: 100px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}